/*? Блок-контейнер */
.header {
  padding-top: 20px;
  padding-bottom: 38px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*? Логотип */
.header__logo {
}
/*? Заголовок */
.header-title {
  font-family: "Arial";
  line-height: 130%;
}
/*? Блок навигации */
.header-nav {
}
/*? Список ссылок */
.header-nav__list {
  display: flex;
  gap: 26px;
  align-items: center;
}
.header-nav__link {
  display: flex;
  width: 40px;
  height: 40px;
  align-content: center;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;

  outline: 0;
  transition: background var(--animation), box-shadow var(--animation),
    border var(--animation);
}
.header-nav__link:hover {
  background: var(--white);
}
.header-nav__link:active {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.7);
}
.header-nav__link:focus {
  border: 1px solid var(--black);
}

.header-nav__logo {
}

.menu__button {
  display: none;
}

@media (max-width: 750px) {
  .header-flex {
    grid-template-columns: 60px 1fr 60px;
  }
  .menu__button {
    display: block;
  }

  .header-nav {
    position: relative;
  }
  .header-nav__list {
    display: none;
  }

  .header-nav__list_active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
    right: 0;
    gap: 10px;
  }
  .header-nav__link {
    display: flex;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 480px) {
  .header-flex {
    grid-template-columns: 45px 1fr 45px;
  }
}
