@media (max-width: 1000px) {
  body {
    font-size: 16px;
  }
}

@media (min-height: 900px) {
  .page {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .container {
    padding: 0 39px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .container {
    padding: 0 15px;
  }
}
