.present-tabs {
}
.present-tabs__list {
  display: flex;
  justify-content: space-between;
  max-width: 285px;
  margin-left: auto;
  padding: 13px 22px;

  font-family: "Arial";
  background-color: rgba(0, 0, 0, 0.7);
}
.present-tabs__item {
}
.present-tabs__btn {
  font-weight: 700;
  line-height: 1;
  color: var(--white);
  background-color: inherit;
}
.active {
  border-bottom: 2px solid var(--white);
}

.tabs-list {
}
.tabs-item {
}
.tabs-item__active {
}
.tabs-content {
}
.card {
}
.card-video {
}
.card-link {
}
.card-link___img {
}
.card-link__text {
}

.card-img {
}
.tabs-content__img {
}

.card-prod {
}
.prod {
}
.prod-img {
}
.prod-title {
}
.prod-buy {
}
.prod-price {
}
.prod-btn {
}
.prod-icon {
}
