.present-tabs {
}
.present-tabs__list {
  display: flex;
  justify-content: space-between;
  max-width: 285px;
  margin-left: auto;
  padding: 13px 22px;
  margin-bottom: 12px;

  font-family: "Arial";
  background-color: rgba(0, 0, 0, 0.7);
}
.present-tabs__item {
}
.present-tabs__btn {
  font-weight: 700;
  line-height: 1;
  color: var(--white);
  background-color: inherit;
  border-bottom: 2px solid transparent;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}
.present-tabs__btn:hover {
  color: #bdbdbd;
  border-color: #bdbdbd;
}
.present-tabs__btn:active {
  color: #bdbdbd;
  border-color: #bdbdbd;
}
.present-tabs__btn:focus {
  color: #bdbdbd;
  border-color: #bdbdbd;
}
.active {
  border-color: var(--white);
}

.tabs-list {
}
.tabs-item {
}
.tabs-item__active {
}
.tabs-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.card {
}
.card-video {
  flex-basis: 285px;
}
.card-link {
  position: relative;
}
.card-link__img {
  width: 100%;
  height: 146px;
  margin-bottom: 10px;

  object-fit: cover;
  object-position: center;
}
.card-link__icon {
  z-index: 9999;
  position: absolute;

  top: 0%;
  left: 0%;

  width: 36px;
  height: 36px;

  transform: translate(-50%, -50%);

  color: var(--white);
  fill: var(--white);
}
.card-link__text {
  font-family: "Arial";
}

.card-img {
  flex-basis: 255px;
}
.tabs-content__img {
  width: 100%;
  height: 206px;

  object-fit: cover;
  object-position: center;
}

.card-prod {
  flex-basis: 285px;
}
.prod {
}
.prod-img {
  width: 100%;
  height: 176px;
  margin-bottom: 10px;

  object-fit: cover;
  object-position: center center;
}
.prod-title {
  font-family: "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 6px;
}
.prod-buy {
  display: flex;
  align-items: center;
}
.prod-price {
}
.prod-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: inherit;

  outline: none;
  color: var(--white);

  transition: background var(--animation), border var(--animation);
}
.prod-btn:hover {
  background: rgba(255, 255, 255, 0.19);
}
.prod-btn:active {
  color: #b3b3b3;
  background: rgba(255, 255, 255, 0.19);
}
.prod-btn:focus {
  background: rgba(255, 255, 255, 0.19);
  border: 1px solid #9b9b9b;
}

.prod-icon {
  width: 24px;
  height: 24px;
}
